# Node modules
node_modules

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages

# TypeScript compiled output
dist
build

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS files
.DS_Store

# Docker files
Dockerfile
docker-compose.yml